<% layout('layouts/boilerplate.ejs') -%>

<script>
  const mapAccessToken = "<%= String(process.env.MAP_ACCESS_TOKEN) %>";
  const listingData = <%- JSON.stringify(listing) %>;
  console.log(listingData);

</script>

<body>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <h3 class="text-start">
          <%= listing.title %> <span class="username">@ <%= listing.owner.username  %></span>
        </h3>
        <div class="card mb-3">
          <img src="<%= listing.image.url %>" class="card-img-top show-card-img" alt="Listing Image" />
          <div class="card-body text-start">
            <p class="card-text"><%= listing.description %></p>
            <p class="card-text">
              <i class="fa-solid fa-tag"></i> Rs <%= Number(listing.price).toLocaleString("en-IN")%> /night<br />
              <i class="fa-solid fa-location-dot"></i> <%= listing.location %><br />
              <i class="fa-solid fa-globe"></i> <%= listing.country %>
            </p>
          </div>
        </div>
        <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
        <div class="row g-2">
          <div class="col-md-6">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-danger w-100">Edit this Listing</a>
          </div>
          <div class="col-md-6">
            <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
              <button class="btn btn-secondary w-100">Delete this listing</button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    
    <!-- Reviews Section -->
    <div class="row mt-5" id="reviews">
      <div class="col-12 text-center">
        <h5>Customer Reviews</h5>
        <p>Total Reviews ( <%= listing.reviews.length %> )</p>
      </div>
      <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
        <div class="overflow-auto p-3 border rounded" style="max-height: 300px;">
          <% if(listing.reviews.length) { %>
          <% for (let review of listing.reviews) { %>
          <div class="card my-2 p-2">
            <div class="card-body d-flex flex-column">
              <span><b> @<%= review.author.username %> </b></span>
              <span class="starability-result" data-rating="<%= review.rating %>"></span>
              <p><%= review.comment %></p>
              <% if(currUser && currUser._id.equals(review.author._id)){ %>
              <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                <button class="btn btn-outline-secondary btn-sm">Delete</button>
              </form>
              <% } %>
            </div>
          </div>
          <% } %>
          <% } else { %>
          <p class="text-center text-secondary">Reviews are Empty!</p>
          <% } %>
        </div>
      </div>
      
      <!-- Review Form -->
      <% if(currUser) { %>
      <div class="col-lg-8 col-md-10 col-sm-12 mx-auto mt-3">
        <form action="/listings/<%= listing._id %>/reviews" method="post" class="needs-validation" novalidate>
          <fieldset class="starability-basic">
            <p>Write a review</p>
            <input type="radio" id="no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="rate1" name="review[rating]" value="1" />
            <label for="rate1" title="Terrible">1 star</label>
            <input type="radio" id="rate2" name="review[rating]" value="2" />
            <label for="rate2" title="Not good">2 stars</label>
            <input type="radio" id="rate3" name="review[rating]" value="3" />
            <label for="rate3" title="Average">3 stars</label>
            <input type="radio" id="rate4" name="review[rating]" value="4" />
            <label for="rate4" title="Very good">4 stars</label>
            <input type="radio" id="rate5" name="review[rating]" value="5" />
            <label for="rate5" title="Amazing">5 stars</label>
          </fieldset>
          <div class="mb-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" class="form-control" rows="5" required></textarea>
            <div class="invalid-feedback">Please write a comment to submit</div>
          </div>
          <div class="text-end">
            <button class="btn btn-outline-dark">Submit</button>
          </div>
        </form>
      </div>
      <% } %>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-10 text-center">
        <P>location</P>
        <div id="map"></div>
      </div>
    </div>
  </div>

  <script src="/JS/mapConfig.js"></script>
</body>
